.appMainPosts {
  color: white;
  background-color: #282c34;
  font-size: 25px;
  grid-area: main;
  text-align: left;
}

.newPost {
  margin-top: 20px;
}

.newPost textarea {
  font-size: 25px;
  color: white;
  background-color: #282C34;
  width: 100%;
  border: 1px solid;
  padding: 10px 0px 0px 0px;
  border-radius: 10px;
}

.newPost button {
  margin-top: 5px;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  background-color: white;
  color: #282c34;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  width: 100%;
}